* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
  font-family: 'Roboto Slab', serif;
}


::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar:horizontal {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00256f;
  border-radius: 4px;
}

::-moz-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

::-moz-scrollbar-track {
  background: #f0f1f1;
}

::-moz-scrollbar-thumb {
  background: #00256f;
}

*:hover::-webkit-scrollbar{
  height: 8px;
}

*:hover::-moz-scrollbar{
  height: 8px;
}